<template>
  <div class="container d-flex flex-column  align-items-center">
    <div class=" p-2 m-4">
      <div class="card contacts-card">
        <div class="card-body contacts-card-body">
          <h5 class="card-title">Contact us</h5>
          <form class="contacts-form">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Name"
                v-model="name"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
                v-model="email"
              >
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                placeholder="Message"
                rows={6}
                v-model="message"
              />
            </div>
            <div v-if="isMessageSend">
              <div class="alert msg-send" role="alert">
                Message sent successfully
              </div>
            </div>
            <div v-else>
              <HttpMagicButton class="send-button" @click.native="send"
                                 v-bind:is_warning="error_send"
                                 button-name="Send">
              </HttpMagicButton>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import HttpMagicButton from './HttpMagicButtton.vue';
import { apiUrl } from '../config';

export default {
  name: 'contacts',
  components: {
    HttpMagicButton,
  },
  data() {
    return {
      error_send: false,
      isMessageSend: false,
      name: '',
      email: '',
      message: '',
    };
  },
  methods: {
    send() {
      if (this.name && this.email && this.message) {
        axios.post(`${apiUrl}/send_message/`, {
          name: this.name,
          email: this.email,
          message: this.message,
        })
          .then((response) => {
            this.error_send = false;
            this.isMessageSend = true;
          })
          .catch((error) => {
            this.error_send = true;
            console.log(error);
          });
      }
    },
  },
};
</script>

<style scoped>
  .contacts-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contacts-card {
    min-width: 40vw;
    background-color: rgba(53, 59, 65, 0.28);
  }


  .contacts-form {
    width: 90%;
  }

  .send-button {
    display: block;
    margin: auto;
    width: 80%;
    height: 44px;
  }
  .card-title {
    color: white;
  }

  .msg-send {
    text-align: center;
    color: white;
    background-color: rgba(53, 59, 65, 0.6) !important;
  }
</style>
