<template>
  <div class="container d-flex flex-column  align-items-center">
    <div class=" p-2 m-4">
      <h2 class="text-white">What is the maximum file size?</h2>
      <h4 class="text-white">Up to 10GB</h4>

      <h2 class="text-white">How long are the files stored?</h2>
      <h4 class="text-white">Default files are stored for 1 week</h4>

      <h2 class="text-white">How to use Share via LAN?</h2>
      <h4 class="text-white">Both devices must be connected to the same network<br />
        1 Upload the file from the first device,<br />
        2 press "Share via LAN" button<br />
        3 open the site on the second device, and press the space bar<br />
      </h4>

    </div>
  </div>
</template>

<script>

export default {
  name: 'help',

  created() {

  },

  methods: {

  },
};
</script>

<style scoped>
  h2, h4 {
    text-shadow: 2px 2px 3px #5a5a5a;
  }
</style>
