<template>
  <div class="container mt-5">
    <div :class="{ 'animated pulse': is_dragging, 'bordered-drop-zone': !file_link && !progress}"
         @dragleave="is_dragging = false"
         @dragenter="is_dragging = true"
         @dragover.prevent @drop.prevent="handleDropZone"
         class="d-flex flex-column justify-content-start align-items-center dropzone">
      <div>
        <label class="p-2 btn btn-dark submit select-file-button">
          Select or drag files (Ctrl+V)
          <input type="file" multiple class="input-file" @change="handleFileUpload()" ref="file">
        </label>
      </div>
      <input type="text" class="for-clipboard" @paste="from_clipboard" ref="clip" autofocus>

      <transition name="fade" mode="out-in">
        <div id="1" v-if="!progress && file_link" class="p-2 text-center">
            <transition name="fade" mode="out-in">
                <div :key="file_link">
                    <a :href="file_link"
                       :key="file_link"
                       target="_blank"
                       class="file_link alert-link text-light "> {{file_link}}</a><br />
                </div>
            </transition>
          <qrcode-vue class="mt-2"
                      :value="file_link"
                      :size="80"
                      level="L">
          </qrcode-vue>
          <button :class="{ 'btn-secondary': is_click_clipboard, 'btn-dark': !is_click_clipboard}"
                  @click="is_click_clipboard = !is_click_clipboard"
                  v-clipboard="() => file_link"
                  type="button"
                  class="btn mt-2">
            Copy to clipboard (Ctrl+C)
          </button><br />
          <toggle-button class="mt-2" :width=200 :height=30 :font-size=12
                         :color="{checked: '#5a6268', unchecked: '#343a40'}"
                         :value="false"
                         :labels="{checked: 'Unshare via LAN', unchecked: 'Share via LAN'}"
                         @change="handleShareLan"/><br />
          <HttpMagicButton @click.native="delLink"
                           class="mt-2"
                           v-bind:is_warning="error_del_link"
                           button-name="Delete link">
          </HttpMagicButton>

          <span class=" text-light font-weight-bold d-block mt-2 file_link">File storage time</span>
          <div class="btn-group btn-group-toggle " data-toggle="buttons">
            <label class="btn btn-dark"
                   @click="selected = 1"
                   :class="{ 'active': selected===1, 'focus': selected===1}">
              <input type="radio"
                     @click="setExpire"
                     name="options"
                     id="option1"
                     autocomplete="off"> 1 Day
            </label>
            <label class="btn btn-dark"
                   @click="selected = 7"
                   :class="{ 'active': selected===7, 'focus': selected===7}">
              <input type="radio"
                     @click="setExpire"
                     name="options"
                     id="option2"
                     autocomplete="off"> 7 Days
            </label>
            <label class="btn btn-dark"
                   @click="selected = 30"
                   :class="{ 'active': selected===30, 'focus': selected===30}">
              <input type="radio"
                     @click="setExpire"
                     name="options"
                     id="option3"
                     autocomplete="off"> 30 Days
            </label>
          </div> <br/>
          <div class="input-group mt-2">
            <input type="text"
                   v-model="note"
                   class="form-control"
                   placeholder="Note to recipient"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
              <MagicButton @click.native="addNote" button-name="Add note"></MagicButton>
            </div>
          </div>
          <div class="input-group mt-2">
            <input type="password"
                   v-model="password"
                   class="form-control"
                   placeholder="Password to protect"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
              <HttpMagicButton @click.native="setPassword"
                               v-bind:is_warning="error_set_pass"
                               button-name="Set Password">
              </HttpMagicButton>
            </div>
          </div>
        </div>

        <span v-if="progress" class="progress w-100 mt-2" >
          <span v-bind:style="{ width: uploadPercentage + '%' }"
               class="bg-dark progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          </span>
        </span>

      </transition>

    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';
import Clipboard from 'v-clipboard';
import Vue from 'vue';
import QrcodeVue from 'qrcode.vue';
import ToggleButton from 'vue-js-toggle-button';
import gitFileLink from '../utils';
// eslint-disable-next-line import/no-unresolved
import HttpMagicButton from './HttpMagicButtton.vue';
import MagicButton from './MagicButton.vue';
import { apiUrl, imageExtensions, siteUrl } from '../config';

Vue.use(Clipboard);
Vue.use(ToggleButton);

export default {
  name: 'home',
  data() {
    return {
      file: '',
      url: '',
      progress: false,
      file_link: '',
      uploadPercentage: 0,
      response_file_data: {},
      error_del_link: false,
      is_click_clipboard: false,
      note: '',
      selected: 7,
      is_dragging: false,
      password: '',
      error_set_pass: false,
    };
  },
  components: {
    MagicButton,
    HttpMagicButton,
    QrcodeVue,
  },
  created() {
    this.checkPwaQueryString();
    const vm = this;
    let ctrlDown = false;
    const ctrlKey = 17;
    const cmdKey = 91;
    const vKey = 86;
    const cKey = 67;
    document.body.onkeydown = (e) => {
      if (e.keyCode === ctrlKey || e.keyCode === cmdKey) ctrlDown = true;
      if (ctrlDown && e.keyCode === cKey) vm.copyShortcut();
      if (ctrlDown && e.keyCode === vKey) vm.setFocus();
    };
    document.body.onkeyup = (e) => {
      if (e.keyCode === ctrlKey || e.keyCode === cmdKey) ctrlDown = false;
    };

    document.body.onkeyup = (e) => {
      if (e.keyCode === 32) {
        this.getLastLink();
      }
    };
  },
  beforeDestroy() {
    document.body.onkeyup = null;
  },
  methods: {
    checkPwaQueryString() {
      const fileLinkKey = this.$route.query.fileLink;
      const token = this.$route.query.token;
      if (fileLinkKey && token) {
        this.file_link = `${siteUrl}/${fileLinkKey}`;
        this.token = token;
      }
    },
    // eslint-disable-next-line no-unused-vars
    handleShareLan(e) {
      axios.post(`${apiUrl}/${this.token}/toggle_share_lan/`, {
        key: this.file_link.split('/')[3],
      });
    },
    getLastLink() {
      axios.get(`${apiUrl}/get_last_link/`).then((response) => {
        const key = response.data.message;
        this.$router.push({ path: key });
        // eslint-disable-next-line no-unused-vars
      }).catch((response) => {
        console.log('error');
      });
    },
    setExpire() {
      axios.post(`${apiUrl}/${this.token}/set_expire/`, {
        key: this.file_link.split('/')[3],
        day: this.selected,
      });
    },
    copyShortcut() {
      if (this.file_link) {
        this.$clipboard(this.file_link);
      }
    },
    setFocus() {
      this.$refs.clip.focus();
    },
    handleFileUpload() {
      this.files = this.$refs.file.files;
      this.submitFile();
    },
    handleDropZone(event) {
      this.is_dragging = false;
      this.files = event.dataTransfer.files;
      if (!this.files.length) {
        return;
      }
      this.submitFile();
    },
    from_clipboard(event) {
      this.files = event.clipboardData.files;
      if (this.files.length) {
        this.submitFile();
      }
    },
    is_image() {
      if (imageExtensions.includes(this.file.name.split('.').pop())) {
        return true;
      }
      return false;
    },
    delLink() {
      axios.post(`${apiUrl}/${this.token}/delete_link/`, {
        key: this.file_link.split('/')[3],
      })
      // eslint-disable-next-line no-unused-vars
        .then((response) => {
          this.error_del_link = false;
          // eslint-disable-next-line no-unused-vars
        }).catch((response) => {
          this.error_del_link = true;
        });
    },
    setPassword() {
      axios.post(`${apiUrl}/${this.token}/set_password/`, {
        key: this.file_link.split('/')[3],
        password: this.password,
      })
      // eslint-disable-next-line no-unused-vars
        .then((response) => {
          this.error_set_pass = false;
          // eslint-disable-next-line no-unused-vars
        }).catch((response) => {
          this.error_set_pass = true;
        });
    },
    addNote() {
      axios.post(`${apiUrl}/${this.token}/add_note/`, {
        note: this.note,
        key: this.file_link.split('/')[3],
      });
    },
    submitFile() {
      this.progress = true;
      const formData = new FormData();

      /* eslint no-plusplus: ["error", { "allowForLoopAfterthoughts": true }] */
      for (let j = 0; j < this.files.length; j++) {
        formData.append('files', this.files[j]);
      }

      axios.post(apiUrl,
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded * 100) / progressEvent.total),
            );
          }.bind(this),
        })
        .then((response) => {
          this.short_key = response.data.short_key;
          this.token = response.data.token;
          this.progress = false;
          this.file_link = gitFileLink(response.data);
        })
        .catch((response) => {
          this.progress = false;
        });
    },
  },
};
</script>

<style scoped>
  img  {
    width: 200px;
  }
  .submit {
    width: 200px;
  }

  .fade-enter {
    opacity: 0;

  }

  .fade-enter-to {
    opacity: 1;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave-to{
    opacity: 0;
  }

  .file_link {
    text-shadow: 1px 1px 4px #000000;
  }

  .input-file {
    opacity: 0;
    left: 0;
    position: absolute;
    width: 200px;
  }

  .for-clipboard {
    height: 1px;
    opacity: 0;
  }

  label {
    position: relative;
  }

  .select-file-button{
    width: 220px;
  }

  .dropzone{
    min-height: 300px;
  }

  .bordered-drop-zone{
    border: 4px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

</style>
