<template>
  <button :class="{ 'btn-dark': !is_click && !is_warning,
                    'btn-secondary': !is_warning && is_click,
                    'btn-warning': is_warning}"
          @click="is_click = true"
          type="button"
          class="btn">
    {{ButtonName}}
  </button>
</template>

<script>
export default {
  name: 'HttpMagicButton',
  props: ['ButtonName', 'is_warning'],
  data() {
    return {
      is_click: false,
    };
  },
};
</script>

<style scoped>

</style>
