<template>
  <button :class="{ 'btn-secondary': is_click, 'btn-dark': !is_click}"
          @click="is_click = !is_click"
          type="button"
          class="btn">
    {{ButtonName}}
  </button>
</template>

<script>
export default {
  name: 'MagicButton',
  props: ['ButtonName'],
  data() {
    return {
      is_click: false,
    };
  },
};
</script>

<style scoped>

</style>
