<template>
    <a v-if="isImage(imgLink)" class="preview-link" :href=imgLink target="_blank">
      <img :src=imgLink alt="img">
    </a>
</template>

<script>
export default {
  name: 'Preview',
  props: ['imgLink'],
  methods: {
    isImage(link) {
      const ext = link.split('.').pop();
      const imageExtension = [
        'jpg', 'jpeg', 'gif',
        'png', 'svg', 'tiff',
        'icon', 'ico', 'webp',
      ];
      return imageExtension.includes(ext.toLowerCase());
    },
  },
};
</script>

<style scoped>
  img {
    max-width: 100%;
  }
  .preview-link {
    display: block;
  }
</style>
