<template>
  <div class="container d-flex flex-column  align-items-center">
    <div class=" p-2 m-4">
      <h2>
          1. Site Onefile.space (Hereinafter referred to as the Resource) is intended for exchanging and storing files. <br/>
          2. This User License Agreement is valid from the moment of the beginning of the use of the Resource. <br/>
          3. When using the Resource, it is forbidden to post: <br/>
           * Materials that contradict the legislation of the Russian Federation. <br/>
           * Intellectual property objects, the copying of which is forbidden by the owners of the original. <br/>
           * Malicious programs. <br/>
          4. Uploaded materials that violate clause 3 of this agreement will be deleted from the Resource upon detection. <br/>
          5. The service does not guarantee the safety of files. <br/>
          6. Under no circumstances is the Resource Administration responsible for the materials uploaded, sent, <br/>
          received by Users through the Resource. <br/>
          7. Under no circumstances is the Resource Administration responsible for all kinds of lost profits and any <br/>
          losses for any reason. <br/>
      </h2>
    </div>
  </div>
</template>

<script>

export default {
  name: 'rules',

  created() {

  },

  methods: {

  },
};
</script>

<style scoped>
  h2 {
    text-shadow: 2px 2px 3px #5a5a5a;
    color: white;
    font-size: 20px;
  }
</style>
