<template>
  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <div class=" p-2 m-4">
        <h2 class="text-white">{{error}}</h2>
      </div>
      <div v-if="is_protect">
        <div class="input-group mt-2">
          <input type="password"
                 v-model="password"
                 @keyup.enter="getLink"
                 class="form-control"
                 placeholder="Files is protect"
                 aria-describedby="button-addon2">
          <div class="input-group-append">
            <HttpMagicButton @click.native="getLink"
                             v-bind:is_warning="error_pass"
                             button-name="Enter password">
            </HttpMagicButton>
          </div>
        </div>
      </div>
      <transition name="fade" mode="out-in">
        <div class="d-flex flex-column align-items-center" v-if="!is_protect && !this.error">
          <div v-if="note" class="alert bg-note-style" role="alert">
            <p class="mb-0 text-white">{{note}}</p>
          </div>

          <div class="links">
            <div v-for="link in link_list">
              <Preview :img-link="link.link"></Preview>
              <a :href="link.link" target="_blank"
                  class="file_link alert-link text-light div-link ">
                {{link.link}} {{link.fileSize}}</a><br />
            </div>
          </div>

          <div class="mt-2" v-if="this.link_list.length > 1">
            <MagicButton @click.native="downloadAll" button-name="Download all"></MagicButton>
          </div>

          <div class="mt-4">
            <div v-for="msg in messages" class="alert bg-msg-style" role="alert">
              <span class="msg-style text-white">{{ msg }}</span>
            </div>

            <div class="send-message">
              <div class="length-error" v-if="showErrorLength">Message too long</div>
              <div v-if="this.link_list.length" class="input-group">
                <input type="text" @keyup.enter="send_to_ws"
                       v-model="message" class="form-control"
                       placeholder="You message"
                       aria-describedby="button-addon2" required>
                <div class="input-group-append">
                  <MagicButton @click.native="send_to_ws" button-name="Send message"></MagicButton>
                </div>
              </div>
              <div class="mt-20">
                <MagicButton @click.native="reportFile"
                             button-name="Report a file"
                             class="report-file">
                </MagicButton>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

    </div>
</template>

<script>
/* eslint-disable no-console */
import axios from 'axios';
import { apiUrl, wsChatUrl } from '../config';
import gitFileLink from '../utils';
// eslint-disable-next-line import/no-unresolved
import HttpMagicButton from './HttpMagicButtton.vue';
import MagicButton from './MagicButton.vue';
import Preview from './Preview.vue';

export default {
  name: 'short',
  components: {
    Preview,
    MagicButton,
    HttpMagicButton,
  },
  data() {
    return {
      error: '',
      link_list: [],
      note: '',
      ws: null,
      message: '',
      messages: [],
      is_protect: false,
      password: '',
      error_pass: false,
      showErrorLength: false,
    };
  },
  created() {
    this.getLink();
  },

  methods: {
    connect_ws() {
      if (this.link_list.length !== 0) {
        this.ws = new WebSocket(`${wsChatUrl}?key=${this.$route.params.short_key}`);
        this.ws.onopen = () => {
          console.log('WS connected');
        };
        this.ws.onclose = (eventclose) => {
          console.log(`WS close${eventclose.reason}`);
        };
        this.ws.onmessage = (msg) => {
          console.log(msg.data);
          this.messages.push(msg.data);
        };
      }
    },

    getLink() {
      if (this.is_protect && !this.password) return;
      axios.post(`${apiUrl}/short_link/`, {
        short_key: this.$route.params.short_key,
        password: this.password,
      })
        .then((response) => {
          this.is_protect = false;
          this.error = null;
          this.note = response.data.note;
          for (const link of response.data.files) {
            this.link_list.push({ link: gitFileLink(link), fileSize: link.file_size });
          }
          this.connect_ws();
        })
        .catch((error) => {
          this.error = error.response.data.message;
          if (this.error === 'Files is protected') {
            this.is_protect = true;
          } else if (this.error === 'Error password') {
            this.error_pass = true;
          }
        });
    },
    send_to_ws() {
      if (!this.message) return;
      if (this.message.length > 40) {
        this.showErrorLength = true;
        return;
      }
      this.showErrorLength = false;
      this.ws.send(this.message);
      this.messages.push(this.message);
      this.message = '';
    },
    downloadAll() {
      if (this.is_protect && !this.password) return;
      axios.post(`${apiUrl}/short_link/`, {
        short_key: this.$route.params.short_key,
        password: this.password,
        is_archive: true,
      })
        .then((response) => {
          const zipLink = gitFileLink(response.data);
          window.open(zipLink, '_blank');
        })
        .catch((error) => {
          this.error = error.response.data.message;
          console.log(error);
        });
    },
    async reportFile() {
      await axios.post(`${apiUrl}/report_file/`, {
        link: window.location.href,
      });
    },
  },
};
</script>

<style scoped>
  .length-error{
    font-size: 14px;
    color: white;
  }
  .file_link {
      text-shadow: 1px 1px 4px #000000;
  }
  .div-link {
    background-image: -webkit-linear-gradient(left, rgba(52,58,64,.4),  rgba(0,0,0,0));
    border-radius: 2px;
    padding-left: 4px;
    margin-top: 4px;
  }
  .bg-msg-style {
    background: rgba(0, 0, 0, .4);
  }
  .bg-note-style {
    background: rgba(22, 60, 69, .6);
  }
  .msg-style {
    opacity: 1;
  }
  a {
    word-wrap: break-word;
  }
  .links {
    max-width: 90vw;
    text-align: center;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .report-file {
    width: 100%;
  }
</style>
