<template>
  <transition name="fade" mode="out-in">
    <div id="app" v-show="!loading">
      <header>
        <div class="navbar navbar-dark bg-dark box-shadow ">
          <div class="container  d-flex flex-row justify-content-start">
            <router-link :to="{ name: 'home' }" class="mr-auto navbar-brand text-white">
              <img src="../public/upload.png" width="30px" height="30px" class="mr-2">
              <strong>Onefile</strong>
            </router-link>
            <router-link class="nav-link text-light" :to="{ name: 'help' }">FAQ</router-link>
            <router-link class="nav-link text-light" :to="{ name: 'rules' }">Terms of use</router-link>
            <router-link class="nav-link text-light" :to="{ name: 'contact' }">
              Contact Us
            </router-link>
          </div>
        </div>
      </header>
      <transition name="fade" mode="out-in">
        <router-view class="content"/>
      </transition>
      <footer id="footer" class="d-flex flex-column align-items-center">
       <span class="text-light pb-2">© 2018 onefile.space</span>
      </footer>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      loading: true,
    };
  },
  methods: {

  },
  mounted() {
    this.$nextTick(function () {
      this.loading = false;
    });
  },
};
</script>

<style lang="scss">
  #app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .content{
    flex: 1;
  }

  .fade-enter {
    opacity: 0;

  }

  .fade-enter-to {
    opacity: 1;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave-to{
    opacity: 0;
  }

  a.nav-link:focus {
    border-bottom: 2px solid #fff;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
  }

</style>
